* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.gamefield {
    display: flex;

}

.newgame {
    width: 20%;
    border-radius: 100px;
    background-color:blueviolet;
    padding: 15px;
    cursor: pointer;
}

.newgame:hover {

}

.card {
    width: 40px;
    height: 40px;
    perspective: 50em;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
}

.card.visible .card-inner {
    transform: rotateY(180deg);
}

.card-back {
    transform: rotateY(180deg);
}