* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background-image: url(./assets/img/dontstartnow.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7% 0;
    backdrop-filter: blur(10px);
    height: 100vh;
}

.player {
    /*position: absolute;
    top: 25%;
    left: 30%;
    right: 30%;
    bottom: 25%;*/
   /* max-width: 336px;
    width: 100%;*/
    padding: 3%;
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    flex-direction: column;
    border: 2px #ff0099 solid;
    border-radius: 10px;
    background-color: #ffffff;
}

.cover {
    overflow: hidden;
}

.album-cover {
    max-width: 334px;
}

/*.album-cover {
    animation: inzoom 2s;
    &.playing {
    animation: zoom 2s;
    transform: scale(1.2);
    }
}*/

.album-cover {
    &.playing {
        transform: scale(1.2);
        }
}

.player-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 4%;
}

.arrows,
.play-pause {
    padding-top: 3%;
    border-radius: 10px;
    cursor: pointer;
}

/*.play-pause img {
    display: block;
    width: 3em;
}*/

.pause-active {
    display: block;  
}

.play {
    width: 3.5em; 
    transition: 0.3s;
}

.play:hover {
    transform:scale(1.2);
}

.play-inactive {
    display: none;
}

.pause {
    width: 3em;
    display: none;
}

.song-info {
    padding-top: 5%;
}

.author {
    font-family: "Montserrat";
    font-weight: 800;
    color:#ff0099
}

.song-name {
    font-family: "Montserrat";
    font-weight: 400;
}

.arrows {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    gap: 7px;
}

.arrows img {
    display: block;
    width: 3.5em;
    transition: 0.3s;
}

.back:hover {
    transform:scale(1.2);
}

.forward:hover {
    transform:scale(1.2);
}

.player-line {
    display: flex;
    align-items: center;
    background-color: rgb(244, 226, 204);
    height: 10px;
    width: 95%;
    margin-left: auto;
    border-radius: 5px;
    margin-right: auto;
    transition: 0.2s;
    .progress {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 1%;
        background-color: #ff0099;
        height: 5px;
        border-radius: 5px;
        margin-left: 2px;
        transition: 0.2s;
        .circle {
            background-color: #ff0099;
            width: 8px;
            height: 8px;
            border-radius: 100%;
            margin-left: 20px;
        }
    }
}

.player-line:hover {
    transform: scale(1.1);
}

/*.progress:hover {
    transform: scale(1.1);
}*/

/*@keyframes zoom {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}

@keyframes inzoom {
    0% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}*/