* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1920px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5%;
}

.container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.gallery-wrapper {
    display: flex;
    /*flex-direction: row;
    /*flex-wrap: wrap;*/
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.image-block {
    /*display: flex;*/
    padding: 1% 2%;
    width: 32%;
    /*height: auto;*/
    border-radius: 10px; 
}

.image {
    width: 100%;
}