* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    align-items: center;

}

.header {
    background-color: rgb(230, 202, 255);
    min-width: 100%;
}

.container {
    max-width: 1920px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5%;
}

.container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo-text {
    font-family: "Fredoka", sans-serif;
    font-weight: 200;
    color: rgb(92, 6, 173);
}

.logo-img {
    width: 25%;
}

#search_box {
    display: flex;
    align-items: center;
}

.search-icon {
    width: 31px;
    transition: 0.3s;
}

.search-icon:hover {
    cursor:pointer;
    transform: scale(1.2);
}

#input {
    border-radius: 10px;
    border-color: blueviolet;
    padding: 5px;
}

.main {
    background-color: rgb(237, 218, 255);
    height: auto;
}

.gallery-wrapper {
    display: flex;
    background-color: rgb(237, 218, 255);

}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.image-block {
    padding: 1% 1%;
    /*width: 32%;
    height: 140px;*/
    overflow: hidden;
    border-radius: 10px; 
}

.image {
    width: 100%;
    width: 330px;
    height: 230px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 75px;
    gap: 20px;
    background-color: rgb(230, 202, 255);
    min-width: 100%;
}
.rs-logo {
    width: 5%;
}
.rs-logo-image {
}
.gh-logo {
    width: 5%;
}
.gh-logo-image {
    width: 100%;
}
.year {
    display: block;
    width: 10%;
    font-family: "Fredoka", sans-serif;
    font-weight: 200;
    color: rgb(92, 6, 173);
}